$background: #f8f8fb;
$button1: #7C5DFA; //button default
$button1-hover: #9277FF; // button hover
$button3: #F9FAFE;
$button3-hover: #DFE3FA;
$button3-color: #7E88C3;
$button6-hover: #DFE3FA;
$button5: #EC5757;
$button5-hover:#FF9797;
$item-background: #f9fafe;
$dark-grey: #373B53; //button default
$black: #0C0E16; //button hover
$font-grey: #888EB0;
$font-blue-grey: #7E88C3;
$red: #EC5757;
$light-red: #FF9797;
$off-white: #F8F8FB;
$green: #33D69F;
$orange: #FF8F00;


