@use "scss_partials/_reset";
@use "scss_partials/variables" as v; //import a file with component css...in this case all teh variables needed
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');


//run the following command  in terminal to compile scss into css file
// sass src/css/styles.scss:src/css/styles.css --watch

//universal styles

body {
    font-family: 'Spartan', sans-serif;
    background-color: v.$background;
}

h1 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
    font-weight:700;
}

h2 {
    font-size:20px;
    line-height:22px;
    letter-spacing: -0.63px;
    font-weight:700;
}

h3 {
    font-size: 16px;
    line-height:24px;
    letter-spacing:-0.8px;
    font-weight:700;
}

h4 {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 700;
}

.bold-text {
    font-size:15px;
    line-height: 24px;
    letter-spacing: -0.31px;
    font-weight: 700;
}

.body1 {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 500;
    color: v.$font-blue-grey;
}

.body2 {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.23px;
    font-weight: 500;
    color: v.$font-blue-grey;
}

button, input[type="submit"] {
    border-radius: 50px !important;
    padding: 16px;
    height: 48px;
    border: none;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 700;
    font-family: inherit;
    outline:none;
}

.button1 {
    background-color: v.$button1;
    color: v.$off-white;
    &:hover {
        background-color: v.$button1-hover;
    }
}

.button3 {
    background-color: v.$button3;
    color: v.$button3-color;
    &:hover {
        background-color: v.$button3-hover;
    }
}

.button5 {
    background-color: v.$button5;
    color: v.$off-white;
    &:hover {
        background-color: v.$button5-hover;
    }
}

.error-message{
    font-size: 10px;
    color: v.$red;
    line-height:15px;
    letter-spacing: -0.21px;
} 

.invoice-status {

}

$tablet: 376px;
$desktop: 768px;

.hide-mobile {
    @media (max-width: 375px) {
        display:none !important;
    }
}

.hide-desktop {
    @media (min-width: $tablet) {
        display:none;
    }
}

@mixin main-container {
    max-width: 327px;
    min-width: 250px;
    border-radius: 8px;
    background-color: white;

    @media (min-width: $tablet) {
        max-width: 672px;
    }

    @media (min-width: $desktop) {
        max-width: 730px;
    }
}

//invoiceList

#invoice-list-header {
    @include main-container;
    width: 100%;
    height: 59px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);

    .header-left {
        display:flex;
        flex-flow: column;
        justify-content: flex-start;
        h1{
            max-width: 135px;
        }
    }
}

.invoice-list-item-container {
    @include main-container;
    border-radius: 8px;
    margin: 14px 0;
    background-color: white;
    height: 134px;
    text-align:center;
    &:hover {
        border: solid 1px v.$button1;
    }
    @media (min-width: $tablet) {
        height: 72px;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }

    a div {
        display:flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;

        @media (min-width: $tablet) {
            flex-flow: row nowrap;
        }
    }
}

.invoice-list-item-container * {
    &:not(:last-child) {
        width :20%;

    }
    &:last-child {
        margin-right: 10px;
    }
}

.arrow {
    width:10%;
}

// InvoicePage
#invoice-page-container {
    padding: 0 2% 100px 2%;

    @media (min-width: $desktop) {
        margin-left: 103px;
        margin-top:0;
        padding:0 0 0 10%;
    }

    a {
        text-decoration: none;   
        p {
            font-weight: 700;
            margin: 32px 0;
        }
    }
    
    header {
        @include main-container;
        height: 91px;
        margin-bottom: 16px;
        padding: 0 24px;

        @media (min-width: $tablet) {
            height:88px;
            display:flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
        .invoice-page-header-left {
            display:flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            @media (min-width: $tablet) {
                width: 50%;
                justify-content: flex-start;
            }
        }

        .invoice-page-header-right {
            display:flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            background-color: white;
            height: 91px;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            min-width: 250px;

            button {
                margin: 0 5px;
                outline:none;
            }

            @media (min-width: $tablet) {
                position: inherit;
                width: 50%;
                height: 88px;
                background-color: inherit;
            }
        }
    }

    $tablet-custom: 550px;

    #invoice-page-info-block {
        @include main-container;
        padding: 24px;
        .invoice-page-info-top {
            min-height: 140px;
            display:flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            margin-bottom: 31px;
            @media (min-width: $tablet) {
                flex-flow: row nowrap;
                min-height: 75px;
            }
        }

        .invoice-page-info-mid {
            display:flex;
            flex-flow: row wrap;
            min-height:130px;

            @media (min-width: $tablet-custom) {
                flex-flow: row nowrap;
            }

            .invoice-page-dates {
                width: 45%;
                display:flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                div p:nth-child(1) {
                    margin-bottom: 12px;
                } 
                @media (min-width: $tablet-custom) {
                    width: 33%;
                }
            }
            .invoice-page-client-address {
                width: inherit;
                display:flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                :nth-child(1){
                    margin-bottom: 12px;
                }
                :nth-child(2) {
                    margin-bottom: 8px;
                }
                @media (min-width: $tablet-custom) {
                    width: 33%;
                }
            }
            .invoice-page-email {
                width: 100%;
                margin-top: 32px;
                @media (min-width: $tablet-custom) {
                    width: 33%;
                    margin-top: 0;
                }
            }
        }

        .invoice-page-items {
            background-color: v.$item-background;
            border-radius: 8px;
            padding: 24px;
            margin-top: 40px;

            @media (min-width: $tablet) {
                padding:32px 1rem;
                margin-top:48px;
            }
            @media (min-width: $desktop) {
                padding:32px 2rem;
            }

            .invoice-page-items-header{
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                @media (min-width: $tablet) {
                    margin-bottom: 32px;
                }

                :first-child{
                    width: 50%;
                }
                :nth-child(2) {
                    width: 50%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                }
            }

            .invoice-page-items-list {
                p{font-weight: 700}
                .item-container {
                    height: 38px;
                    &:not(:last-child) {
                        margin-bottom:24px;
                    }
                    @media (min-width: $tablet) {
                        width:100%;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                    }

                    .item-container-left{
                        h4 {
                            margin-bottom: 8px;
                        }
                        @media (min-width: $tablet) {
                            width:50%;
                        }
                    }

                    .item-container-right {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;

                        @media (min-width: $tablet) {
                            justify-content: flex-end;
                            width:50%;

                            > p {
                                width:40%;
                                text-align: right;
                                color: inherit;
                            }
                        }
                    
                        div:first-child {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-start;
                            width:40%;

                            @media (min-width: $tablet) {
                                justify-content: space-between;
                                width:60%;
                            }
                        }

                    }
                }
            }

        }
        .invoice-page-grand-total {
            border-radius: 0 0 8px 8px;
            background-color: v.$grand-total-background;
            color: white;
            height:80px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            padding: 1em;
            width: 100%;
            @media (min-width: $tablet) {
                padding: 2em;
            }
            p {color:white;}

        }
    }
}

//Delete Modal
.delete-modal-container {
    position: absolute;
    top: 30%;
    bottom:70%;
    right: 80%;
    left: 20%;
    height: 220px;
    width: 80vw;
    max-width: 300px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 1%;
    z-index:100;
    .delete-info{
        display: flex;
        flex-flow:column nowrap;
        justify-content: space-evenly;
        height:100%;
    }
    .delete-button-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content:flex-end;
        align-items: center;
        
        button:first-child {
            margin-right: 10px;
        }
        
    }
}
.delete-opaque {
    position:absolute;
    top:0;
    height:100vh;
    width:100vw;
    height:calc(100%);
    z-index: 1;
    background-color: rgba(0, 0, 0, .51)
}


//form fields

input, select, option {
    background-color: v.$input-background;
    color: v.$input-color;
    height:48px;
    border: 1px solid v.$input-border;
    border-radius: 4px !important;
    padding-left: 20px;
    font-family: inherit;
    font-weight: 700;
    outline: none;
    margin-bottom: 24px;
    &:focus{
        border: 1px solid v.$input-active;
    }
}

.main-invoice-form-container {
    background-color: white;
    padding:24px;
    width:100vw;
    @media (min-width: $tablet) {
        width:80vw;
        max-width: 720px;
        border-radius: 0 20px 20px 0;
    }
    @media (min-width: $desktop) {
        width: 50%;
        min-width: 612px;
        max-width: 720px;
    }
    .form-title {
        margin-bottom: 24px;
        font-size:24px;
        line-height:32px;
        letter-spacing:-0.5px;
        span {
            color:v.$invoice-id;
        }
    }
}

.input-field-container {
    display: flex;
    flex-flow: column nowrap;
    label{
        margin-bottom: 10px;
    }
}

.invoice-fields-container {
    h4 {
        color: v.$bill-title;
        margin-bottom: 24px;
    }

    .full-width {
        width:100%;
        
    }

    
}

.address-bottom {
    input {
        width:100%;
    }
    > div:first-child {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    > div div:first-child {
        width: 45%;
    }
    > div div:nth-child(2) {
        width: 20%;
    }
    > div div:nth-child(3) {
        width: 30%;
    }

}

.invoice-payments > *  {
    width: 100%;
    @media (min-width: $tablet) {
        width:48%;
    }
}

.invoice-payments {
    @media (min-width: $tablet) {
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.items-list-form-container {
    h2{
        color: #777F98;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.38px;
        margin: 24px 0;
    }
    input {
        width: 100%;
    }
    .invoice-form-item-container {
        @media (min-width: $tablet) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
        > :nth-child(2) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            @media (min-width: $tablet) {
                width: 60%;
            }

            :first-child {
                width: 20%;
            }

            div:nth-child(2) {
                width: 30%;
            }
            div:nth-child(3) {
                width: 30%;
                input {
                    border: none;
                    color: #888EB0;
                    padding: 0;
                }
            }
            button {
                height:12px;
                width:12px;
                padding:10px;
                display: flex;
                flex-flow:column nowrap;
                justify-content: center;
                align-items: center;
                color:white;
                background-color: #9da2bb;
            }
        }
    }
}

.form-button-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 112px;

    input[type="submit"] {
        margin-bottom: 0;
    }
}

//Sidebar
.sidebar-container {
    background-color: v.$sidebar-background;
    height: 72px;
    top:0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:space-between;
    padding-right: 5%;

    @media (min-width: $tablet) {
        height:80px;
    }
    @media (min-width: $desktop) {
        width: 103px;
        height:100%;
        position: fixed;
        left:0;
        flex-flow:column nowrap;
        padding:0;
        border-radius: 0 20px 20px 0;
    }
    .logo-container {
        width: 72px;
        height:100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content:center;
        align-items:center;
        background-color: #7C5DFA;
        border-radius: 0 20px 20px 0;
        @media (min-width: $desktop) {
            height: 103px;
            width: 103px;
        }

        .logo {
            width:28px;
            height: 26px;
            background-image: url(https://res.cloudinary.com/dfpyzncgn/image/upload/v1618067229/invoices/logo_kv9khn.svg);
            background-position: center;
            background-size: contain;
            @media (min-width: $desktop) {
                height:37px;
                width:40px;
            }
        }
    }
    .user-picture {
        height: 32px;
        width: 32px;
        border-radius: 40px;
        background-image: url(https://res.cloudinary.com/dfpyzncgn/image/upload/v1618067229/invoices/image-avatar_gphjsy.jpg);
        background-position: center;
        background-size: contain;
        @media (min-width: $desktop) {
            margin-bottom: 20px;
            height:40px;
            width:40px;
        }
    }
}

//page component wrappers

.new-item-btn {
    width:100%;
}

.form-component-container {
    position: absolute;
    top:72px;
    z-index: 99999;
    @media (min-width: $tablet) {
        top:80px;
        .opaque {
            position:absolute;
            top:0px;
            width:100vw;
            height:calc(100%);
            z-index: -10;
            background-color: rgba(0, 0, 0, 0.527)
        }
    }
    @media (min-width: $desktop) {
        top: 0px;
        left: 103px;
    }
}

.page-component-container {
    margin-top: 72px;
    @media (min-width: $tablet) {
        margin-top: 80px;
    }
    @media (min-width: $desktop) {
        margin-left: 103px;
        margin-top:0;
    }
}

.app-page-components {
    padding:5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;
    @media (min-width: $tablet) {
        display: inherit;
    }
    @media (min-width: $desktop) {
        padding:0 0 0 10%;
        margin-top: 72px;
    }

}

.invoice-status {
    max-width: 104px;
    height: 40px !important;
    border-radius: 8px;
    padding: 12px 18px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    margin-left: 10px;
}