@use "scss_partials/_reset";
@use "scss_partials/variables" as v; //import a file with component css...in this case all teh variables needed
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');


//run the following command  in terminal to compile scss into css file
// sass src/css/styles.scss:src/css/styles.css --watch

//universal styles

body {
    font-family: 'Spartan', sans-serif;
    background-color: v.$background;
}

h1 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
    font-weight:700;
}

h2 {
    font-size:20px;
    line-height:22px;
    letter-spacing: -0.63px;
    font-weight:700;
}

h3 {
    font-size: 16px;
    line-height:24px;
    letter-spacing:-0.8px;
    font-weight:700;
}

h4 {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 700;
}

.bold-text {
    font-size:15px;
    line-height: 24px;
    letter-spacing: -0.31px;
    font-weight: 700;
}

.body1 {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 500;
    color: v.$font-blue-grey;
}

.body2 {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.23px;
    font-weight: 500;
    color: v.$font-blue-grey;
}

button {
    border-radius: 50px;
    padding: 16px;
    height: 48px;
    border: none;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 700;
    font-family: inherit;
}

.button1 {
    background-color: v.$button1;
    color: v.$off-white;
    &:hover {
        background-color: v.$button1-hover;
    }
}

.button3 {
    background-color: v.$button3;
    color: v.$button3-color;
    &:hover {
        background-color: v.$button3-hover;
    }
}

.button5 {
    background-color: v.$button5;
    color: v.$off-white;
    &:hover {
        background-color: v.$button5-hover;
    }
}

$tablet: 376px;
$desktop: 768px;

.hide-mobile {
    @media (max-width: 375px) {
        display:none !important;
    }
}

.hide-desktop {
    @media (min-width: $tablet) {
        display:none;
    }
}

@mixin main-container {
    max-width: 327px;
    min-width: 250px;
    border-radius: 8px;
    background-color: white;

    @media (min-width: $tablet) {
        max-width: 672px;
    }

    @media (min-width: $desktop) {
        max-width: 730px;
    }
}

//invoiceList

#invoice-list-header {
    @include main-container;
    height: 59px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);

    .header-left {
        display:flex;
        flex-flow: column;
        justify-content: flex-start;
        h1{
            max-width: 135px;
        }
    }
}

.invoice-list-item-container {
    @include main-container;
    border-radius: 8px;
    margin: 14px 0;
    background-color: white;
    height: 134px;
    &:hover {
        border: solid 1px v.$button1;
    }
    @media (min-width: $tablet) {
        height: 72px;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }

    a div {
        display:flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;

        @media (min-width: $tablet) {
            flex-flow: row nowrap;
        }
    }
}

.invoice-list-item-container * {
    &:not(:last-child) {
        width :20%;

    }
    &:last-child {
        margin-right: 10px;
    }
}

// InvoicePage
#invoice-page-container {
    padding: 0 5%;
    padding-bottom: 200px;
    a {
        text-decoration: none;   
        p {
            font-weight: 700;
            margin: 32px 0;
        }
    }
    
    @media (min-width: $tablet) {
        padding: 0;
    }

    header {
        @include main-container;
        height: 91px;
        margin-bottom: 16px;
        padding: 0 24px;

        @media (min-width: $tablet) {
            height:88px;
            display:flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
        .invoice-page-header-left {
            display:flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            @media (min-width: $tablet) {
                width: 50%;
                justify-content: flex-start;
            }
        }

        .invoice-page-header-right {
            display:flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            background-color: white;
            height: 91px;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            min-width: 250px;

            button {
                margin: 0 5px;
            }

            @media (min-width: $tablet) {
                position: inherit;
                width: 50%;
                height: 88px;
                background-color: inherit;
            }
        }
    }

    $tablet-custom: 550px;

    #invoice-page-info-block {
        @include main-container;
        padding: 24px;
        .invoice-page-info-top {
            min-height: 140px;
            display:flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            margin-bottom: 31px;
            @media (min-width: $tablet) {
                flex-flow: row nowrap;
                min-height: 75px;
            }
        }

        .invoice-page-info-mid {
            display:flex;
            flex-flow: row wrap;
            min-height:130px;

            @media (min-width: $tablet-custom) {
                flex-flow: row nowrap;
            }

            .invoice-page-dates {
                width: 45%;
                display:flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                div p:nth-child(1) {
                    margin-bottom: 12px;
                } 
                @media (min-width: $tablet-custom) {
                    width: 33%;
                }
            }
            .invoice-page-client-address {
                width: inherit;
                display:flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                :nth-child(1){
                    margin-bottom: 12px;
                }
                :nth-child(2) {
                    margin-bottom: 8px;
                }
                @media (min-width: $tablet-custom) {
                    width: 33%;
                }
            }
            .invoice-page-email {
                width: 100%;
                margin-top: 32px;
                @media (min-width: $tablet-custom) {
                    width: 33%;
                    margin-top: 0;
                }
            }
        }

        .invoice-page-items {
            background-color: v.$item-background;
            border-radius: 8px;
            padding: 24px;
            margin-top: 40px;

            @media (min-width: $tablet) {
                padding:32px;
                margin-top:48px;
            }

            .invoice-page-items-header{
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                :first-child{
                    width: 50%;
                }
                :nth-child(2) {
                    width: 50%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                }
            }

            .invoice-page-items-list {
                p{font-weight: 700}
                .item-container {
                    height: 38px;
                    margin-bottom:24px;
                    .item-container-left{
                        h4 {
                            margin-bottom: 8px;
                        }
                    }

                    .item-container-right {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        div:first-child {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-start;
                            width:40%;
                        }
                    }
                }
            }

            
        }
    }
}